---
import Logo from '@icons/Logo.astro'
import Layout from '@layouts/Layout.astro'
---

<Layout title="ERROR 404">
  <section class="flex flex-col justify-center items-center lg:flex-row gap-6 pt-12">
    <Logo class="w-48 h-48" />
    <div class="flex flex-col items-center gap-3">
      <h1 class="text-center text-5xl text-primary text-format">error 404</h1>
      <span class="font-atomic font-semibold">VOLVER AL <a class="transition hover:text-primary" href="/">MENÚ PRINCIPAL</a></span>
    </div>
  </section>
</Layout> 