---
interface Props {
  name: string
  image: string
  description: string
}

const { name, image, description } = Astro.props
---

<div class="flex flex-col justify-center items-center">
  <img src=`/images/${image}.webp` alt={image}>
  <span class="font-primary text-center text-5xl lg:text-6xl text-contrast">{name}</span>
  <p class="max-w-72 text-justify pt-3 pb-6">{description}</p>
</div>

<style>
  img {
    mask-image: linear-gradient(
      black 80%,
      transparent
    );
    filter: drop-shadow(
      0 0 1.5rem yellow
    );
  }
</style>


