---
import Github from '@icons/Github.astro'
---

<footer 
  class="flex border-t-4 justify-center gap-x-5 items-center gap-y-6 pt-8 pb-24 lg:mx-auto lg:px-64 lg:gap-x-12">
  <span class="text-sm lg:text-xl text-center">
    © 2024 Twenty One Pilots | Fanpage 
  </span>
  <a class="transition hover:scale-110" href="https://github.com/JoArDiTo/twenty-one-pilots-web" target="_blank">
    <Github class="w-12 h-12" />
  </a>
</footer>

<style>
  footer {
    border-image: linear-gradient(to right, transparent, #ffd800, transparent) 5;
  }
</style>